<%=render 'shared/header'%>

<div class="edit-user">
    <ul>
        <li class="pb-3">Edit Profile</li>
        <li class="pb-3">Change Password</li>
        <li class="pb-3">Apps and Websites</li>
        <li class="pb-3">Email and SMS</li>
        <li class="pb-3">Push Notifications</li>
        <li class="pb-3">Manage Contacts</li>
        <li class="pb-3">Privacy and Security</li>
        <li class="pb-3">Login Activity</li>
        <li class="pb-3">Email from Instagram</li>
        <li class="pb-3">Help</li>
        <li class="pb-3">Switch to Professional Account</li>
    </ul>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="mb-3 row edit-profile pt-2">
      <% if current_user.image.attached?%>
      <div class="col-sm-4  col-form-label ps-4">
        <%= image_tag current_user.image ,class:"img-thumbnail profile", id:"user-img" %>
      </div>
      <%end%>
      <div class="col-sm-8 mt-2">
      <p class="h4">  <%= current_user.user_name %></p>
      <%= f.file_field :image, autofocus: true, autocomplete: "image", class:"form-control mt-3", id:"upload-img" %>
      </div>
      </div>

      <div class="mb-3 row">
      <%= f.label :name,  class:"col-sm-4 col-form-label  ps-4" %>
      <div class="col-sm-8">
        <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class:"form-control" %>
      </div>
      </div>
    
      <div class="mb-3 row">
      <%= f.label :user_name,  class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class:"form-control" %>
      </div>
      </div>
    
    
      <div class="mb-3 row">
      <%= f.label :website, class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.text_field :website, autofocus: true, autocomplete: "website", class:"form-control" %>
      </div>
      </div>
    
      <div class="mb-3 row">
      <%= f.label :bio, class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.text_field :bio, autofocus: true, autocomplete: "bio", class:"form-control" %>
      </div>
      </div>
    
      <div class="mb-3 row">
      <%= f.label :phone_number, class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "bio", class:"form-control" %>
      </div>
      </div>
    
      <div class="mb-3 row">
      <%= f.label :gender, class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.text_field :gender, autofocus: true, autocomplete: "gender", class:"form-control" %>
      </div>
      </div>
    
      <div class="mb-3 row">
      <%= f.label :email, class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "bio", class:"form-control" %>
      </div>
      </div>
    
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="mb-3 row">
      <%= f.label :password, class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "new-password", autocomplete: "bio", class:"form-control" %>
        <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        </div>
      </div>
    
    
      <div class="mb-3 row">
      <%= f.label :password_confirmation, class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>
      </div>
    
      <div class="mb-3 row">
      <%= f.label  :current_password , class:"col-sm-4 col-form-label ps-4" %>
      <div class="col-sm-8">
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
      </div>
      </div>
    
      <div class="actions ms-5 mb-2">
        <%= f.submit "Submit" , class:"btn btn-primary p-2" %>
      </div>
    <% end %>
        
</div>

