<nav class="nav-bar navbar-light bg-light">
    <a class="navbar-brand" href="#"><%= image_tag("735145cfe0a4.png", alt: "logo", class:"img-fluid") %></a>
    <form>
      <input class="form-control me-2" type="search" style="font-family: FontAwesome;" placeholder="&#xf002 Search" aria-label="Search">
      <button class="btn btn-outline-transparent" type="submit"><i class="fa fa-search"></i></button>
    </form> 
    <ul class="mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home"></i></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fa fa-paper-plane"></i></a>
      </li>
      <li class="nav-item">  
      <%=link_to new_post_path, class:"nav-link active"  do %> <i class="fa fa-plus-square"></i><%end%>
     </li>

      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fa fa-heart"></i></a>
      </li>
      
      <li>
      </li>

      <li class="nav-item dropdown">
        <% if user_signed_in? %>
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <% if current_user.image.attached? %>
          <%= image_tag current_user.image ,class:"img-thumbnail profile" %>
        <%else%>
          <%= current_user.user_name %>
        <%end%>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <%= link_to user_path(current_user), class:"dropdown-item"  do %>
              Profile
            <%end%>
          </li>
          <li><a class="dropdown-item" href="#">Saved</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li> 
          <%= link_to destroy_user_session_path, class:"dropdown-item" ,method: :delete do %>
            Logout
          <%end%>
          </li>
          
        </ul>
        <%end%>
      </li>
    </ul> 
</nav>
