


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div  class= "center-items">
  <%= image_tag("Instagram-Logo.png", size: '200x75', alt: "logo") %>
 
  <div class="mb-3 col-sm-8">
   
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", placeholder: "Email" %>
  </div>

  <div class="mb-3 col-sm-8">
    
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" , placeholder: "Password"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-3 col-sm-8">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="mb-3 col-sm-8">
    <%= f.submit "Log in", class:"btn btn-primary form-control" %>
  </div>
  <%= render "devise/shared/links" %>
  </div>
<% end %>

