<div>
    <i class="fa fa-heart-o post-like like-<%= post.id%>
        <%='active' if post_liked_by_user?(post.id)%>" data-id="<%=post.id%>">
    </i>
    <i class="fa fa-comment-o" data-bs-toggle="modal" data-bs-target="#exampleModal<%=post.id%>"></i>
    <i class="fa fa-send-o"></i>
</div>   
    <i class="fa fa-bookmark-o"></i>
</div>
    <strong id="post-<%= post.id%>-likes" class="ms-2"> Liked by <%= post.likes_counter.to_i%> </strong>
    <%  if post.text?%>
    <p class="h6 ms-2 mt-1"><%= post.text%></p>
    <%end%>
    <i class="ms-2 mt-1 text-muted" data-bs-toggle="modal" data-bs-target="#exampleModal<%=post.id%>">
    View all <%= post.comments_counter.to_i%> comments
    </i>

<!-- Modal -->
<div class="modal fade" id="exampleModal<%=post.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-dialog modal-dialog-centered modal-lg">
          
          <div class=" popup modal-content">     
            <div class="popup-content modal-body d-flex">                    
              <%= image_tag post.image ,alt: "postImg", class:"img-fluid popup-content" %>                     
              <div class="popup-body">
                <div class="post-user">
                  <div class="post-user-info mb-2">
                    <% if post.user.image.attached?%>
                      <%= image_tag current_user.image ,class:"img-thumbnail profile ms-2" %>
                    <%else%>
                      <%= image_tag Sample_User_Icon.png ,class:"img-thumbnail profile ms-2" %>
                    <%end%>
                    <p class="h6 pt-3 ps-1"><%= post.user.user_name%></p>
                  </div>
                    <i class="fa fa-ellipsis-h pt-2 pe-2 me-2"></i>
                </div>


              <div class="post-comments">
                  
                    <%if post.comments.any?%>
                      <% post.comments.each  do |comment|%>
                        <div class="post-user-info d-flex">
                          <% if comment.user.image.attached?%>
                            <%= image_tag comment.user.image ,class:"img-thumbnail profile" %>
                          <%else%>
                            <%= image_tag Sample_User_Icon.png ,class:"img-thumbnail profile" %>
                          <%end%>
                          <p class="h6 ps-1 pt-2"><%= comment.user.user_name%></p>
                          <p class=" ps-2 pt-1"><%= comment.text%></p>
                        </div>   
                      <%end%>
                          
                    <%end%>
                 
                </div>

                <div class="post-detail">
                  <div class="post-icons">
                    <div>
                    <i class="fa fa-heart-o post-like like-<%= post.id%> <%='active' if post_liked_by_user?(post.id)%>" data-id="<%=post.id%>">
                    
                    </i>
                      <i class="fa fa-comment-o"></i>
                      <i class="fa fa-send-o"></i>
                    </div>   
                    <i class="fa fa-bookmark-o"></i>
                  </div>
                  <strong id="post-<%= post.id%>-likes" class="ms-2"> Liked by  <%= post.likes_counter.to_i%></strong>
                  <%  if post.text?%>
                    <p class="h6 ms-2"><%= post.text%></p>
                  <%end%>
                </div>

                <%= form_with model:@comment,  class:"input-form" do |f|%>
                  <div class="form-row">
                    <div class="col d-flex">
                      <%=f.hidden_field :post_id, value:post.id %>
                      <%= f.text_field :text, class:"form-control" ,placeholder: "Add a comment..." %><br>
                  
                      <%= f.submit "Post", class: "btn btn-link" %>
                    </div>
                  </div>
              <%end%>
              
              </div>
            </div>
          </div>
        </div>
      </div>



