<%= render 'shared/header'%>
<div class="container all-posts">
<div class="row justify-content-end ">
<div class="col-6">
<% @posts.each do |post|%>

    
        <div class="post-user ">
            <div class="post-user-info">
            <% if post.user.image.attached?%>
            <%= image_tag post.user.image ,class:"img-thumbnail profile" %>
            <%else%>
                <%= image_tag Sample_User_Icon.png ,class:"img-thumbnail profile" %>
            <%end%>
                <p class="h6 pt-2"><%= post.user.user_name%></p>
            </div>
            <i class="fa fa-ellipsis-h pt-2 pe-2"></i>
        </div>
        
            <% if post.image.attached? %>
                <%= image_tag post.image ,class:"profile" %>
            <%end%> 
        
        <div class="post-detail">
            <div class="post-icons">
               
            <%=render 'posts/comments', post: post %>
        </div>
        
        <div>
        <%= form_with model:@comment,  class:"input-form" do |f|%>
            <div class="form-row">
              <div class="col d-flex">
                <%=f.hidden_field :post_id, value:post.id %>
                <%= f.text_field :text, class:"form-control" ,placeholder: "Add a comment..." %><br>
            
                <%= f.submit "Post", class: "btn btn-link" %>
              </div>
            </div>
        <%end%>
        </div>
 
<%end%>
</div>
<div class="col-3">
<%= render 'posts/followers'%>
</div>
</div>

</div>
    



